{% extends "client/layout.html" %}
{% block body %}

    <h1 align="center"> TASK DETAIL </h1>
    <hr/>

    <form method="post">

        {% csrf_token %}

         <div align="center">

            <div class="col-md-6" align="left">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3" >

                    <li class="list-group-item">
                    <b> DATE: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                     <li class="list-group-item">
                     <b> TITLE: </b> <a class="float-right">{{ object.title }}</a>
                     </li>

                     <li class="list-group-item">
                     <b> DESCRIPTION: </b> <a class="float-right">{{ object.detail }}</a>
                     </li>

                </ul>

              </div>

            </div>

    </div>
             <div align="center">
                 <a href="{% url 'task-view' %}" class="btn btn-info"><b>Back</b></a>
            </div>

    </div>

    </form>

{% endblock %}
